<!-- <app-my-first-component></app-my-first-component> -->
<!-- <app-user></app-user> -->
<!-- <app-carte-visite></app-carte-visite> -->
<!-- <app-alert-button></app-alert-button> -->
<!-- <app-liste></app-liste> -->
<!-- <app-magie></app-magie> -->
<!-- <app-liste-filtree></app-liste-filtree> -->
<!-- <app-show-date></app-show-date> -->

<!-- <app-generic-alert-button buttonTitle="Ping" alertMessage="Pong"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Marco" alertMessage="Polo"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Philippe" alertMessage="Je sais ou tu te caches"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Viens ici que je te bute enculé" alertMessage="Ta gueule"></app-generic-alert-button> -->
<!-- <app-button-menu></app-button-menu> -->
<!-- <app-horloge-menu></app-horloge-menu> -->
<!-- <app-liste-courses></app-liste-courses> -->
<!-- <app-user-cards></app-user-cards> -->
<!-- <app-hidder></app-hidder> -->
<!-- <app-reactive-liste-courses></app-reactive-liste-courses> -->
<!-- <app-formbuilder-liste-courses></app-formbuilder-liste-courses> -->
<!-- <app-user-form></app-user-form> -->
<app-data-courses></app-data-courses>
