<!-- <app-my-first-component></app-my-first-component> -->
<!-- <app-user></app-user> -->
<!-- <app-carte-visite></app-carte-visite> -->
<!-- <app-alert-button></app-alert-button> -->
<!-- <app-liste></app-liste> -->
<!-- <app-magie></app-magie> -->
<!-- <app-liste-filtree></app-liste-filtree> -->
<!-- <app-show-date></app-show-date> -->

<!-- <app-generic-alert-button buttonTitle="Ping" alertMessage="Pong"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Marco" alertMessage="Polo"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Philippe" alertMessage="Je sais ou tu te caches"></app-generic-alert-button>
<app-generic-alert-button buttonTitle="Viens ici que je te bute enculé" alertMessage="Ta gueule"></app-generic-alert-button> -->

<app-button-menu></app-button-menu>
